* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 128px 1fr;
    height: 99vh;
    width: 100%;
}

.header {
    grid-row: 1/2;
    display: grid;    
}

.header-search {
    grid-row: 1/2;
    padding: 12px 40px;
    display: flex;                  
    gap: 2.5rem;                      
    list-style: none;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.header-nav {
    grid-row: 2/3;
    display: flex;                  /* Make links flex items */                       /* Space between links */
    list-style: none;
    background-color: rgb(94, 39, 224);
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 18px 30px;
}

.header-nav h3 {
    cursor: pointer;
}

#search-bar {
    padding: 7px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

.main-content {
    grid-row: 2/3;
    background-color: brown;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.library {
    padding: 10px;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center;     /* Centers vertically */
}

.card-container {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 128px;
    margin: 5px;
    background-color: beige;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    font-size: 22px;
}

#Dialog {
    width: 330px;
    height: 230px;
    position: fixed;   /* Positions relative to the viewport */
    top: 50%;          
    left: 50%;      
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    font-size: x-large;
}

input {
    font-size: x-large;
}

input[type="number"] {
    width: 75px;
}

.divBtn {
    display: flex;
    justify-content: space-around;
}

.read {
    background-color: aqua;
}

.noread {
    background-color: yellow;
}